SUBSYSTEM=="sound", ATTRS{manufacturer}=="Generic", ATTR{id}="Speaker"
SUBSYSTEM=="sound", ATTRS{manufacturer}=="C-Media Electronics Inc.*", ATTR{id}="Mic"
